<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ChargingStationFinderApp.html</welcome-file>
	</welcome-file-list>

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>stationService</servlet-name>
    <servlet-class>com.google.gwt.chargingstationfinder.server.StationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>stationService</servlet-name>
    <url-pattern>/chargingstationfinderapp/station</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.google.gwt.chargingstationfinder.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/chargingstationfinderapp/login</url-pattern>
  </servlet-mapping>
  
    
  <servlet>
    <servlet-name>parsingService</servlet-name>
    <servlet-class>com.google.gwt.chargingstationfinder.server.ParsingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>parsingService</servlet-name>
    <url-pattern>/chargingstationfinderapp/parser</url-pattern>
  </servlet-mapping>
  
  


</web-app>
